  div.captionButton {
    /* draw a box and give it a border radius that is half the width of the box = Circle */
    color: white;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border-style: solid;
    background-color: red;
    opacity: 0.7;
    /* Text au milieu */
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    /* animation */
    animation-name: example;
    animation-duration: 1s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    /*transition: all 0s; /* transition when the mouse over */
  }

  @keyframes example {
    from {
      border-color: red;
      color:red
    }

    to {
      border-color: white;
      color:white
    }
  }

  div.captionManager div.caption {
    display: none;
    border-radius: 0%;
  }

  /* properties of div.caption when captionManager is hovered => show ON */
  div.captionManager:hover div.caption {
    display: block;
  }
  /* properties of div.captionButton when captionManager is hovered  => show OFF */
  div.captionManager:hover div.captionButton {
    display: none;
  }

  div.caption {
    /* pour que les popup passent au dessus des boutons (voisins proches), il est necessaire de passer par z-index qui necessite de positionné l'element (relative) */
    position:relative;
    z-index:1;
    border-color: black;
    border-width: 2px;
    /* pour eviter les popup trop large */
    max-width:450px;
  }

  div.caption-header {
    background-color: silver;
    padding: 10px 10px 10px 10px;
  }

  div.caption-body {
    background-color: snow;
    padding: 10px 10px 10px 10px;
  }

  div.caption-footer {
    background-color: silver;
    padding: 10px 10px 10px 10px;
  }
