  div.captionButton {
    /* draw a box and give it a border radius that is half the width of the box = Circle */
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border-style: solid;
    background-color: red;
    opacity: 0.5;
    /* Text au milieu */
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    /* animation */
    animation-name: example;
    animation-duration: 1s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    /*transition: all 0s; /* transition when the mouse over */
  }

  @keyframes example {
    from {
      border-color: red;
    }

    to {
      border-color: white;
    }
  }

  div.captionManager div.caption {
    display: none;
    border-radius: 0%;
  }

  div.captionManager:hover {
    border-radius: 0%;
    /*opacity: 1;*/
  }

  div.captionManager:hover div.caption {
    display: block;
  }

  div.captionManager:hover div.captionButton {
    display: none;
  }

  div.caption {
    border-color: black;
    border-width: 2px;
  }

  div.caption-header {
    background-color: lightgreen;
    padding: 10px 10px 10px 10px;
  }

  div.caption-body {
    background-color: white;
    padding: 10px 10px 10px 10px;
  }

  div.caption-footer {
    background-color: lightgreen;
    padding: 10px 10px 10px 10px;
  }
